/* RESET */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* FONTS */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* STYLES */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

p:first-of-type {
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;  
}

header {
  background-color: #405472;
  padding: 40px 0;
}

.fixed-header {
  background-color: #405472;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.fixed-header img {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

.bg-blue {
  background-color: #405472;
  color: white;
  text-align: center;
  padding-bottom: 40px;
  
}

.bg-blue p {
  max-width: 800px;
  margin: 20px auto 30px auto;
}

.bg-image {
  position: relative;
  background-color: white;
  background-image: url('images/office-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;    
  padding: 80px 0;
  text-align: center;
}

.bg-image > * {
  z-index: 40;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.bg-image h2 {
  color: #405472;
  font-size: 35px;
  font-weight: bold;  
}

.bg-image > ul {
  list-style-type: none;
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
  line-height: 2em;
}

.bg-image > ul li {
  display: flex;
  align-items: center;  
  justify-content: flex-start;
  text-align: left;
}
.bg-image > ul li svg {
  margin-right: 10px;
}

.bg-image-overlay {
  z-index: 20;
  opacity: 0.64;
  background-color: white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  max-width: 100%;
}

.bg-gray {
  background-color: rgb(247, 250, 252);
  padding: 80px 60px;
}

.bg-gray h2 {
  color: #405472;
  font-size: 35px;
  font-weight: bold;  
  margin: 0 auto 30px auto;
  text-align: center;

}

.bg-gray .two-column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.bg-gray .two-column > * {
  width: 50%;
  margin: 0;
 
}

.bg-gray .two-column > *:first-of-type {
  padding: 0 100px;
} 

.bg-gray .two-column img {
  margin-top: 8px;
}

.bg-white {
  text-align: center;
  padding: 60px 0;
  /* margin: 0 auto; */
}

.bg-white h2 {
  color: #405472;
  font-size: 35px;
  font-weight: bold;
  padding: 0 0 40px 0;
}

#testimonial-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.slides {
  /* position: relative; */
  width: calc( 79% - 40px );
  /* height: 400px; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  align-items: center;
  
}



.slide blockquote {
  margin: 0 0 20px 0;
}

.slide > p {
  font-size: 21px;
  font-weight: 600;
  font-style: normal;  
}

.slick-dots {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  justify-content: center;
  gap: 10px;
}

.slick-dots .slick-active svg {
  fill: black;
}

/* .slick-dots {
  bottom: 50px;
  li button:before,
  li.slick-active button:before {
    color: transparent;
    opacity: 1;
  }
  li button:before{
    background-color: transparent;
    border: 4px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;

  }
  li.slick-active button:before {
    background-color: #fff;
  }
} */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 40px;
}

footer a {
  text-decoration: none;
}

footer .icon-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 4px;
}

@media (max-width: 850px) {

  .fixed-header {
    position: fixed;
    top: 0;
    z-index: 500;
  }
  .fixed-header img {
    max-width: 60%;
    margin: 20px auto;
  }

  .bg-blue, .bg-white, .bg-gray, .bg-image {
    padding: 30px 20px;
  }

  .bg-gray .two-column {
    flex-direction: column;
    gap: 20px;
  }

  .bg-gray .two-column div {
    width: 100%; 
  }

  .bg-gray .two-column > *:first-of-type {
    padding: 0;
  }   

  .bg-white {
    padding: 30px 0;
  }
}